<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head.ejs") %>
    <body>
        <header>
            <div class="header-container">
                <h1>Welcome to my collection!</h1>
            </div>
            <div class="navLink">
                <%- include("./partials/nav.ejs") %>
            </div>
        </header>
        <div class="container d-flex justify-content-center align-items-center vh-100">
            <h3>Careful, you are offside!</h3>
        </div>
            
            <footer>
                <hr>
                Copyright &copy; MMXCLV
            </footer>
    </body>

</html>